.root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding: 60px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #d5F3FF, #55dddd);

}
.climate-card{
  border-radius:40px;
  padding: 20px;
  width: 350px;
  box-shadow: 2px 2px 8px rgba(114, 9, 9, 0.3) ;
  background-image: linear-gradient(to bottom, #d5F3FF, #fbffff);
  
  ;
  
}
.b1{
  display: flex;
  padding-left: 20px;
  font-size: 30px ;
  align-items: center;
  justify-content: space-between;
 
}
.state{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size:15px;
}
.country{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sky{
  display: flex;
  align-items: last baseline;
  position: relative;
  flex: 1;
  top: -92px;
  right: 450px;
  
}
.sky h1{
  color: #249b9b;
  font-weight: bold;
}


  
  


 